<p>view-book works!</p>
<div>
    <div>
        <label> <b> Book Id: </b></label> {{book.bookId}}
    </div>
    <div>
        <label> <b> Book Name: </b></label> {{book.bookName}}
    </div>
    <div>
        <label> <b>  Author: </b></label> {{book.author}}
    </div>
    <div>
        <label> <b>  Book Borrowed: </b></label> {{book.borrowed}}
    </div>
    <div>
        <label> <b>  Book Borrowedby: </b></label> {{book.borrowedby}}
    </div>
    <div>
        <label> <b> Availability Status: </b></label> {{book.isAvailable}}
    </div>
</div>